.blockk {
  padding: 65px 222px 93px !important;
  background: white !important;
  border-radius: 9px !important;
  width: 100% !important;
  margin-left: 0% !important;
  margin-top: -122px !important;
  box-shadow: 0 -17px 31px rgb(0 0 0 / 60%);
}
.site-logo {
  position: relative;
  font-weight: 900;
  font-size: 23px;
  color: black;
  margin-left: 127px;
  top: 17px;
  text-decoration: blink;
  font-family: 'Kanit', sans-serif;
}
.log-logo {
  cursor: pointer;
  font-weight: 100;
  font-size: 20px;
  color: black;
  margin-left: 82%;
  margin-top: -50px;
  font-family: 'Quicksand', sans-serif;
}
.adm-logo {
  font-weight: 100;
  font-size: 20px;
  color: black;
  position: absolute;
  margin-left: 56%;
  text-decoration: blink;
  margin-top: 19px;
  font-family: 'Quicksand', sans-serif;
}
