<head>
  <title>AdminPanel</title>
</head>
<div class="card" style=" margin-top: 104px;">
  <p-table [value]="users" [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:100px">Id</th>
        <th style="min-width:200px">UserName</th>
        <th style="min-width:200px">Password</th>
        <th style="min-width:200px">FirstName</th>
        <th style="min-width:200px">LastName</th>
        <th style="min-width:200px">Role</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr>
        <td>{{users.id}}</td>
        <td>{{users.username}}</td>
        <td>{{users.password}}</td>
        <td>{{users.firstName}}</td>
        <td>{{users.lastName}}</td>
        <td>{{users.role}}</td>
      </tr>
    </ng-template>
<!--    <ng-template pTemplate="footer">-->
<!--      <tr>-->
<!--        <td>Id</td>-->
<!--        <td>UserName</td>-->
<!--        <td>Password</td>-->
<!--        <td>LastName</td>-->
<!--        <td>FistName</td>-->
<!--        <td>Role</td>-->
<!--      </tr>-->
<!--    </ng-template>-->
  </p-table>
</div>
