<head>
  <title>AdminPanel</title>
</head>
<div class="card" style=" margin-top: 104px;">
  <p-table [value]="users" [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:100px">Id</th>
        <th style="min-width:130px">Login</th>
        <th style="min-width:130px">Password</th>
        <th style="min-width:130px">Age</th>
        <th style="min-width:130px">Salary</th>
        <th style="min-width:130px">Name</th>
        <th style="min-width:130px">Birthday</th>
        <th style="min-width:120px">Role</th>
        <th style="min-width:120px">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr>
        <td>{{users.id}}</td>
        <td>{{users.login}}</td>
        <td>{{users.password}}</td>
        <td>{{users.age}}</td>
        <td>{{users.salary}}</td>
        <td>{{users.name}}</td>
        <td>{{users.birthday}}</td>
        <td>{{takeRole(users.roles)}}</td>
        <td><img src="assets/images/2355277.png" routerLink="/editPage/{{users.id}}" routerLinkActive="active" class="icons">
          <img src="assets/images/4470034.png" (click)="deleteUser(users.login)" onClick="window.location.reload()" class="icons-del"></td>
      </tr>
    </ng-template>
  </p-table>
</div>
<button pButton type="button" routerLink="/addPage" routerLinkActive="active" label="{{'ADMINPAGE.BUTTONADD' | translate}}" class="p-button-secondary button-add"></button>

